@{
  Layout = "_Layout";
}

<h2>Random city of the day.</h2>
    <h2>@Model.Name has a population of @Model.Population and is located in the continent of @Model.Continent in the @Model.Region region.</h2>
