@{
  Layout = "_Layout";
}

<h2>Choose what you want to see:</h2>
<form action='/country' method='get'>
  <button class='btn btn-primary' action='Country' type='submit' method='get'>Goto Country</button>
</form>
<form action='/city' method='get'>
  <button class='btn btn-primary' action='City' type='submit' method='get'>Goto City</button>
</form>
<form action='/random' method='get'>
  <button class='btn btn-primary' type='submit' method='get'>Get Random</button>
</form>
